
.hp button {
 display: flex;
justify-content: space-between;
margin-top: 10px;
}

.cancel-button {
background-color: white;
color: #000;
padding: 5px 10px;
border: none;
border-radius: 5px;
}

.submit-button {
background-color: #007bff;
color: #fff;
padding: 5px 10px;
border: none;
border-radius: 5px;
}

.ch-slider {
    width: 100%;
}

.ch-slider-bar {
    width: 100%;
    height: 4px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.slidecontainer {
    width: 100%
  }
  
  .slider {
    width: 50%;
    height: 2px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }


  .myform {
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
  }

  .photo {
    padding-top: 50px;
    padding-right: -200px;
  }

  .split {
    height: 10px
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  #outer
{
  border: none;
  color: #fff;
  padding: 33px 33px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  cursor: pointer;
}
.button1{
  background-color: gray;
  color: #fff;
  float: left;
  margin:5px

}
.button2{
  background-color: gray;
  color: #fff;
  margin:5px;

}
.button3{
  background-color: gray;
  color: #fff;
  margin: 5px;
}


  