<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="split left">
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="file" class="form-control-file" formControlName="ProfileDP" id="ProfileDP" name="ProfileDP"
                    (change)="onFileSelected($event)">
            </div>
        </div><br>
        <div class="form-group">
            <label for="firstName"></label>
            <input type="text" class="form-control" formControlName="FirstName" id="firstName" placeholder="Firstname"
                required pattern="[A-Za-z]{1,20}">
            <div *ngIf="registrationForm.hasError('required', 'FirstName')">
                Name is required.
            </div>
        </div>
        <div class="form-group">
            <label for="LastName"></label>
            <input type="text" class="form-control" id="LastName" formControlName="LastName" placeholder="Last Name"
                name="LastName" required pattern="[A-Za-z]{1,20}">
            <div *ngIf="registrationForm.hasError('required', 'LastName')">
                LastName is required.
            </div>
        </div>
        <div class="form">
            <label for="Email"></label>
            <input type="text" class="form-control" id="Email" formControlName="Email" placeholder="Email" name="Email"
                required pattern="[A-Za-z][@]{1,20}">
            <div *ngIf="registrationForm.hasError('required', 'Email')">
                Email is required.
            </div>
            <div *ngIf="registrationForm.hasError('email','Email')">
                Invalid email format.
            </div>

        </div>
        <div class="form">
            <label for="telno"></label>
            <input id="telNo" class="form-control" name="telNo" type="tel" placeholder="123-4567-8901"
                formControlName="telno" required pattern="{1,20}">
        </div>
        <br>

        <div class="form-group">
            <label for="age">Age:</label>&nbsp;<input for="age" style="width: 30px;" [value]="Age">&nbsp;
            <label for="age">20</label>
            <input class="slider" type="range" formControlName="Age" (input)="valueChanged($event)" value="value"
                id="age" name="age" min="20" max="60">
            <label for="age">60</label>
            <div *ngIf="registrationForm.hasError('required', 'Age')">
                Age is required.
            </div>
        </div>
        <div class="form">
            <label for="State">State</label>
            <select class="form-control" formControlName="State" id="State" [value]="State" name="State"
                placeholder=" State">
                <option value="">Select an option</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Karnatka">Karnatka</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Bihar">Bihar</option>
                <option value="Tamil Nadus">Tamil Nadus</option>
            </select>
            <div *ngIf="registrationForm.hasError('required', 'State')">
                State is required.
            </div>
        </div><br>
        <div class="form">
            <label for="Country">Country</label>
            <select class="form-control" formControlName="Country" [value]="Country" id="Country" name="Country"
                placeholder="Country">
                <option value="">Select an option</option>
                <option value="India">India</option>
                <option value="Japan">Japan</option>
                <option value="United States">United States</option>
                <option value="Russia">Russia</option>
                <option value="Vietnam">Vietnam</option>
            </select>
            <div *ngIf="registrationForm.hasError('required', 'Country')">
                Country is required.
            </div>
        </div>
        <br>

        <div class="form">
            <label for="address">Address</label>
            <select class="form-control" id="Address" formControlName="Address" name="Address">
                <option value="">Select an option</option>
                <option value="home">Home</option>
                <option value="company">Company</option>
            </select>
            <div *ngIf="registrationForm.hasError('required', 'Address')">
                Address is required.
            </div>
        </div><br>
        <input type="checkbox" id="subscribe" name="subscribe">
        <label for="subscribe">Subscribe To Newsletter</label>
        <div>
            <button type="button" class="btn btn-primary"
                (click)="openUserprofileModal(this.registrationForm.value)">Submit</button>
            <button (click)="close()" class="btn btn-primary" style="float: right;">Cancel</button>
        </div>
    </form>
</body>

</html>