<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form>
        <div class="split left">
            <div class="form-group">
                <label for="photo">Photo:</label>
                <input type="file" class="form-control-file" id="photo" name="photo" (change)="onFileSelected($event)">
            </div>
        </div><br>
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <label for="firstName"></label>
            <input type="text" class="form-control" formControlName ="FirstName" id="firstName" placeholder="Firstname"
                 required pattern="[A-Za-z]{1,20}">
            <div *ngIf="registrationForm.hasError('required', 'FirstName')">
                Name is required.
            </div>
            <div class="form-group">
                <label for="LastName"></label>
                <input type="text" class="form-control" id="LastName" formControlName ="LastName" placeholder="Last Name" name="LastName"
                     required pattern="[A-Za-z]{1,20}">
                <div *ngIf="registrationForm.hasError('required', 'LastName')">
                    LastName is required.
                </div>
            </div>
            <div class="form">
                <label for="Email"></label>
                <input type="text" class="form-control" id="Email" formControlName ="Email" placeholder="Email" name="Email" 
                    required pattern="[A-Za-z][@]{1,20}">
                <div *ngIf="registrationForm.hasError('required', 'Email')">
                    Email is required.
                </div>
                <div *ngIf="registrationForm.hasError('email','Email')">
                    Invalid email format.
                </div>

            </div>
            <div class="form">
                <label for="telno"></label>
                <input id="telNo" class="form-control" name="telNo" type="tel" placeholder="123-4567-8901"
                    [(ngModel)]="telno" required pattern="{1,20}">
            </div>
            <br>

            <div class="form-group">
                <label for="age">Age:</label>&nbsp;<input for="age" style="width: 30px;" [value]="value">&nbsp;
                <label for="age">20</label>
                <input class="slider" type="range" formControlName ="Age" value="value" id="age" name="age" min="20" max="60"
                    (ngModelChange)="updateTextInput($event)">
                <label for="age">60</label>
                <div *ngIf="registrationForm.hasError('required', 'Age')">
                    age is required.
                </div>

            </div>
            <div class="form">
                <label for="State">State</label>
                <select class="form-control" formControlName ="Search" id="State" name="State" placeholder=" State" [(ngModel)]="State">
                    <option value="">Select an option</option>
                    <option value="state">Maharashtra</option>
                    <option value="State">Karnatka</option>
                    <option value="state">Rajasthan</option>
                    <option value="state">Bihar</option>
                    <option value="state">Tamil Nadus</option>
                </select>
                <div *ngIf="registrationForm.hasError('required', 'Search')">
                    Search is required.
                </div>
            </div><br>
            <div class="form">
                <label for="Country">Country</label>
                <select class="form-control" id="Country" formControlName ="Country" name="Country" >
                    <option value="">Select an option</option>
                    <option value="">India</option>
                    <option value="">Japan</option>
                    <option value="">United States</option>
                    <option value="">Russia</option>
                    <option value="">Vietnam</option>
                </select>
                <div *ngIf="registrationForm.hasError('required', 'Country')">
                    Country is required.
                </div>
            </div><br>
            <div class="form">
                <label for="tags"></label>
                <input id="telNo" name="tags" type="tags" placeholder="tags" [(ngModel)]="tags" required pattern="{}">

            </div>
            <div class="form">
                <label for="address">Address</label>
                <select class="form-control" id="address" formControlName ="Address" name="address" >
                    <option value="">Select an option</option>
                    <option value="home">Home</option>
                    <option value="company">Company</option>
                </select>
                <div *ngIf="registrationForm.hasError('required', 'Address')">
                    address is required.
                </div>
            </div><br>
            <input type="checkbox" id="subscribe" name="subscribe">
            <label for="subscribe">Subscribe To Newsletter</label>
            <div class="hp">
                <button type="button" class="btn btn-primary cx" (click)="openUserprofileModal()">Submit</button>
                <div class="search"></div>

                <button (click)="cancel()">Cancel</button>
            </div>
        </form>
    </form>
</body>

</html>