*{
    margin: 00px;
    padding: 00px;
}
.hh{
    position: fixed;
    top:0%;
    left:0%

}
.navbar-brand{
    color: black;
   
}
nav{
    background-image: url("https://media.istockphoto.com/id/1280752272/photo/home-office-concept-mockup-laptop-computer-with-supplies-on-white-top-table-in-white-room.jpg?b=1&s=170667a&w=0&k=20&c=VEas5RPMfbh6rqq88yWIv7_RpksycdxTzHIXBl0Hug4=");
    background-repeat: no-repeat;
    height:90vh;
    width: 100%;
    background-size:cover;
    background-attachment: fixed;

}
.container{
    position: fixed;
    top: 0;
    left: 0;
}
.container ul{
    margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.container ul li {
    margin: 0 10px;
}
.container ul li a{
    float: right;
    display: block;
    padding: 2px;
    text-decoration: none;
    color: #fff;
    transform: translate(220px,10px);
}
pg{
    background-size: cover;
  background-position: center;
  display: flex;

}
.hero{
    text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%);
  display: block;
}
.hero h5 i{
    color: #fff;

}
.containerbb{
    text-align: center;
}
.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 500px;
}

.form-group{
  float:right;

}
.block{
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 14px;

}
.bx{
    background-color: white;
}
.mx h5{
    text-align: center;
    font-family: Arial;

}
.mx h2{
    text-align: center;
    padding: 14px 15px;

}
.cx{
    text-align: center;
    padding: 10px;
    float: left;

}
.para{
    text-align: center;
}
.find{
    text-align: center;

}
.center{
    text-align: center;
    background-color: black;
    height: 100px;
    width:auto;

}

.searchbox {
    width: max-content;
    height: auto;
   
    float:right;
}
  


.sub {
    color: white;
}
.ww{
    border: blue;
    text-align: center;
    width: 50%;
}
.input-group {
    margin-bottom: 15px;
  }
  
  .input-group .input-group-prepend .input-group-text {
    background-color: #fff;
    border: none;
    float:left;
  }
  
  .input-group .input-group-prepend .input-group-text i {
    font-size: 20px;
    color: #999;
    float:left;
}
  
  .form-control {
    border: none;
    box-shadow: none;
    float:left;
  }
  
.twitter-share-button {
    display: inline-block;
    background-color: #1DA1F2;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .twitter-share-button i {
    margin-right: 8px;
  }
  .facebook-share-button{
    display: inline-block;
    background-color: #1DA1F2;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
  }

  .right {
    float: right;
  }

  .left {
    float: left;
  }

  *{
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }